.customers{
    padding: 100px 0;
    background-color: $bg-color;

    h2{
        font-size: 3rem;
        font-weight: bolder;
        margin-bottom: 50px;
    }

    @media (max-width: 991px) {
        h2{
            font-size: 2.2rem;
        }
    }

    
}