footer {
    padding: 20px 0;
    background-color: $bg-color;
  .brand {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .wraper{
    display: flex;
    align-items: center;
  }

  .wraper a {
    padding-right: 10px;
    display: inline-block;
    color: black !important;
  }
}
