* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
}

a {
  text-decoration: none;
}

button.twitter {
  background-color: transparent;
  border: none;
  background-color: #1da1f2 !important;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

nav {
  padding: 20px 0 !important;
}
nav .navbar-brand {
  color: #1da1f2 !important;
  font-size: 1.5rem !important;
}
nav .navbar-collapse .nav-link {
  color: #595959 !important;
}
nav .navbar-collapse button.twitter {
  background-color: transparent;
  border: none;
  background-color: #1da1f2 !important;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
}

@media (max-width: 991px) {
  nav .navbar-collapse {
    top: 100px;
    position: absolute;
    left: 0%;
    right: 0;
  }
  nav .nav-item {
    padding: 20px 0 20px 20px;
    background-color: #fbf8f3;
  }
  nav button.twitter {
    display: none;
  }
}
@media (min-width: 992px) {
  nav .nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  nav button {
    margin-left: 15px;
  }
}

.landing {
  padding: 150px 0 100px;
  margin-top: -85px;
  background: #fbf8f3;
}
.landing h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.landing h1 + p {
  margin-bottom: 30px;
  color: #737373;
  line-height: 1.8;
}
.landing button {
  margin-right: 15px;
}
.landing button + a {
  padding: 10px 15px;
  font-weight: bolder;
  color: #1f7898;
}
.landing .users {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 25px;
}
.landing .users .img {
  margin-left: -25px;
  transition: all ease-in 0.3s;
}
.landing .users .img img {
  border: solid 1px white;
  border-radius: 50%;
  width: 55px;
}
.landing .users .img:hover {
  padding-right: 20px;
}
.landing .users .img:hover img {
  margin-left: 0;
}
.landing .users + p {
  color: #595959;
  font-size: 1.2rem;
  font-weight: 600px;
}
.landing .users + p span {
  color: #1f7898;
  font-weight: 900;
}

.landing .box,
.landing .box button {
  display: flex;
  align-items: center;
}
.landing .box {
  width: 300px;
  height: 200px;
  flex-direction: column;
  justify-content: space-evenly;
}
.landing .box button {
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.landing .box-one button img {
  margin: 0 0.5rem;
}
.landing .box-one i {
  color: #1da1f2;
  font-size: 1.8rem;
}
.landing .box-two input {
  position: relative;
  width: 300px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
}
.landing .box-two input label {
  position: absolute;
  top: 0;
}
.landing .box-two input::-moz-placeholder {
  font-size: 1rem;
}
.landing .box-two input:-ms-input-placeholder {
  font-size: 1rem;
}
.landing .box-two input::placeholder {
  font-size: 1rem;
}
.landing .box-two input:focus {
  border: 1px solid #1da1f2;
}
.landing .box-two .next-btn {
  background-color: #121212;
  color: #fff;
}

.landing .chart {
  padding: 30px;
  border-radius: 15px;
  background: #d7f5f5;
}
.landing .chart .chart-wraper {
  border-radius: 5px !important;
}
.landing .chart canvas {
  height: 400px !important;
}
.landing .chart-wraper {
  background-color: white;
  box-shadow: 0 10px 10px 5px rgba(211, 210, 210, 0.1);
}
.landing .chart-info > div {
  border-radius: 8px;
  padding: 15px 40px;
  margin-top: 30px;
  box-shadow: 0 10px 10px 5px rgba(211, 210, 210, 0.1);
}
.landing .chart-info h3 {
  font-weight: bolder;
}
.landing .chart-info p {
  color: #595959;
}
.landing .chart span {
  font-size: 2rem;
  font-weight: bolder;
}

@media (max-width: 991px) {
  .landing .chart {
    padding: 15px;
    flex-direction: column;
  }
  .landing .row {
    flex-direction: column-reverse;
  }
  .landing .info {
    margin-top: 50px;
  }
  .landing .info h1 {
    font-size: 2.8rem;
  }
  .landing .info .buttons {
    flex-direction: column;
  }
  .landing .info .buttons button {
    margin-bottom: 15px;
    width: 100%;
  }
  .landing .info .buttons a {
    width: 100%;
    text-align: center;
  }
  .landing canvas {
    height: 300px !important;
  }
  .landing .chart span {
    font-size: 1.5rem;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .landing .chart-wraper {
    width: 50%;
  }
  .landing .chart-info {
    margin-left: 30px;
  }
  .landing .info {
    margin-top: 50px;
  }
}
@media (max-width: 1199px) {
  .landing .row {
    flex-direction: column-reverse;
  }
  .landing .row > div {
    width: 100% !important;
  }
  .landing .chart {
    display: flex;
  }
  .landing .chart-info > div {
    flex-direction: column-reverse;
  }
  .landing .chart-info > div span {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .landing .info {
    padding-right: 50px;
  }
}

.features {
  padding: 100px 0;
}
.features h2 {
  font-size: 3rem;
  margin-bottom: 60px;
  font-weight: bolder;
}
.features .feature {
  border: solid #cecece 1px;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 30px;
}
.features .feature h3 {
  margin-bottom: 20px;
  font-weight: bolder;
}
.features .feature p {
  color: #595959;
}
.features .feature i {
  display: block;
  margin-bottom: 15px;
}
.features .feature i img {
  width: 50px;
}
@media (max-width: 991px) {
  .features h2 {
    font-size: 2.2rem;
  }
}

.customers {
  padding: 100px 0;
  background-color: #d7f5f5;
}
.customers h2 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .customers h2 {
    font-size: 2.2rem;
  }
}

.plan {
  padding: 100px 0;
}
.plan h2 {
  font-size: 2.4rem;
  font-weight: bolder;
  margin-bottom: 30px;
}
.plan h2 + p {
  color: #595959;
}
.plan .price-plan {
  margin-top: 75px;
  padding: 30px;
  border-radius: 20px;
  border: solid #ffad23 1px;
  background: #fbf8f3;
}
.plan .price-plan p {
  font-size: 1.5rem;
  color: #595959;
}
.plan .price-plan h3 {
  font-size: 4rem;
  font-weight: bolder;
}
.plan .price-plan h3 sub {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #595959;
}
.plan ul {
  padding-bottom: 30px;
  margin-top: 40px;
  border-bottom: solid #cecece 1px;
  color: #595959;
}
.plan ul li {
  position: relative;
  margin-bottom: 25px;
}
.plan ul li::before {
  content: "\f00c";
  position: absolute;
  left: -45px;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900 !important;
  background-color: #2ed8af;
  color: white;
}

footer {
  padding: 20px 0;
  background-color: #d7f5f5;
}
footer .brand {
  font-size: 1.5rem;
  font-weight: bolder;
}
footer .wraper {
  display: flex;
  align-items: center;
}
footer .wraper a {
  padding-right: 10px;
  display: inline-block;
  color: black !important;
}/*# sourceMappingURL=style.css.map */