* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
}

//

a {
  text-decoration: none;
}

button.twitter {
  background-color: transparent;
  border: none;
  background-color: #1da1f2 !important;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

@import "./variables";
@import "./sections/navbar";
@import "./sections/lanading";
@import "./sections/features";
@import "./sections/customers";
@import "./sections/plan";
@import "./sections/footer";
